body
{
    background-color: black;
}

h5
{
    color: lightgray;
}

.black
{
    color: black;
}

.color-container 
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}